body {
  margin: 0 auto;
  background: var(--lavender);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --blue: #22577A;
  --green: #59C9A5;
  --lavender: #D9DBF1;
  --yellow: #F8E16C;
  --coral: #FB8F67
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
}

.wrapper > * {
  flex: 1 1 100%;
}

header {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  background: var(--blue);
}


header h1 {
  margin: 10px;
  padding: 5px;
}

header h1 a {
  text-decoration: none;
  color: var(--yellow)
}

nav ul {
  display: flex;
}

nav li {
  list-style: none;
  cursor: pointer;
}

nav li span {
  margin: 10px;
  padding: 5px;
  font-size: 30px;
  text-decoration: none;
  color: var(--coral);
  font-weight: 700;
}

nav li span:hover {
  color: var(--green);
}

.hero-img {
  background-image: url("./assets/img/hero_large.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  width: 100%;
  height: 120%;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--blue);
  font-size: 35px;
}

.hero-text button {
  background-color: var(--yellow);
  font-size: 45px;
  color: var(--blue);
  padding: 10px;
  border-radius: 12px;
  transition-duration: 0.3s;
}

.hero-text button:hover {
  cursor: pointer;
  background-color: var(--lavender);
  box-shadow: 0 12px 16px 0 var(--blue);
}

.title h2 {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  color: var(--blue);
}

.bio-section {
  display: flex;
  flex-direction: row-reverse;
  border: 5px solid var(--green);
  margin: 10px;
}

/* .bio-section > .bio-img {
  flex: 1 0 0%;
  text-align: right;
}

.bio-img > img {
  vertical-align: top;
} */

.bio h3 {
  padding: 10px;
  font-size: 25px;
  color: var(--blue);
}

.bio h4 {
  padding: 10px;
  font-size: 20px;
  color: var(--blue);
}

.active {
  color: var(--green);
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  margin: 10px;
  width: 33%;
}

.card:hover {
  box-shadow: 0 12px 12px 0 rgba(0,0,0,0.2);
  background-color: var(--green);
}

.card img {
  border-radius: 5px 5px 0 0;
  height: 300px;
  width: 100%;
}

.card-body {
  margin: 0 10px 0 15px;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
}

.card-title {
  font-size: 30px;
  font-weight: 700;
  color: var(--blue);
  text-align: center;
}

.card-text {
  font-size: 20px;
  color: var(--blue);
  text-align: left;
}

.card-btns {
  display: flex;
  justify-content: center;
}

.deploy-btn {
  background-color: var(--yellow);
  margin-right: 5px;
  padding: 10px;
  border-radius: 12px;
  cursor: pointer;
}

.repo-btn {
  background-color: var(--coral);
  padding: 10px;
  margin-left: 5px;
  border-radius: 12px;
  cursor: pointer;
}

.repo-btn:hover,.deploy-btn:hover {
  background-color: var(--lavender);
}

.card-btns a {
  text-decoration: none;
  color: var(--blue);
  font-size: 20px;
}


.resume {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px;
}

.frontend ol {
  border: 5px solid var(--blue);
}

.backend ol {
  border: 5px solid var(--coral);
}

.other ul {
  border: 5px solid var(--yellow);
}

.download-link {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.download-link a {
  text-decoration: none;
  background-color: var(--blue);
  margin-bottom: 10px;
  cursor: pointer;
  color: var(--coral);
  padding: 5px;
  font-size: 20px;
  text-align: center;
  border-radius: 12px;
  box-shadow: 0 4px 4px 0 black;
}

.download-link a:hover {
  box-shadow: 0 8px 8px 0 black;
}

.resume div ol li, .resume div ul li {
  font-size: 20px;
  color: var(--blue);
}

.resume > div h3 {
  font-size: 30px;
  font-weight: 700;
  color: var(--green);
  text-align: center;
}

.contact {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

#contact-form {
  width: 75%;
  background-color: var(--green);
  margin-bottom: 30px;
  border-radius: 12px;
}

#contact-form div {
  display: flex;
  flex-flow: column wrap;
  padding: 10px;
}

#contact-form div label {
  font-size: 30px;
  color: var(--blue);
}

#contact-form div input,textarea {
  width: 100%;
  padding: 12px;
  margin: 8px 0px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#contact-form button {
  width: 100%;
  background-color: var(--blue);
  color: var(--coral);
  padding: 10px;
  margin: 8px 0;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 20px;
}

footer {
  display: flex;
  justify-content: center;
  background-color: var(--blue);
}

footer h3 {
  font-size: 25px;
  color: var(--coral);
  margin-right: 10px;
}

.media-icons {
  margin-top: 10px;
}

.media-icons .github {
  margin-right: 5px;
}

.media-icons .linkedin {
  margin-left: 5px;
}

@media all and (max-width: 1050px) {
  .hero-img {
    height: 50%;
  }

  .hero-text {
    position: relative;
    font-size: 35px;
  }
}

@media all and (max-width: 768px) {
  header {
    flex-flow: column;
    align-items: center;
  }

  header nav ul {
    display: flex;
    flex-flow: row wrap;
    padding-left: 0px;
    margin-top: 0px;
  }

  .hero-img {
    height: 50%;
  }

  .hero-text {
    position: relative;
    font-size: 35px;
  }

  .bio-section {
    flex-flow: column;
  }

  .bio-img img {
    width: 100%;
  }

  .projects {
    flex-flow: column no-wrap;
  }

  .card {
    width: 75%;
  }

  #contact-form {
    width: 90%;
  }
  
}

@media all and (max-width: 576px) {
  header {
    flex-flow: column;
    align-items: center;
  }

  header nav ul {
    display: flex;
    flex-flow: column wrap;
    padding-left: 0px;
    margin-top: 0px;
  }

  header nav ul li {
    border-bottom: 1px solid white;
  }

  .hero-img {
    height: 50%;
  }

  .hero-text {
    position: relative;
    font-size: 35px;
  }

  .bio-section {
    flex-flow: column;
  }

  .bio-img img {
    width: 100%;
  }

  .projects {
    flex-flow: column no-wrap;
  }

  .card {
    width: 100%;
  }

  #contact-form {
    width: 100%;
  }

  footer .media-icons {
    display: flex;
    justify-content: flex-start;
  }
  
}
