body {
  margin: 0 auto;
  background: var(--lavender);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --blue: #22577A;
  --green: #59C9A5;
  --lavender: #D9DBF1;
  --yellow: #F8E16C;
  --coral: #FB8F67
}

header {
  justify-content: space-between;
  background: var(--blue);
}

header h1 {
  margin: 10px;
  padding: 5px;
}

header h1 a {
  text-decoration: none;
  color: var(--yellow)
}

nav li {
  list-style: none;
  cursor: pointer;
}

nav li a {
  margin: 10px;
  padding: 5px;
  font-size: 30px;
  text-decoration: none;
  color: var(--coral);
  font-weight: 700;
}

nav li a:hover {
  color: var(--green);
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.hero-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--green);
}